/* navbar */
.app-navbar {
  font-weight: 500;
  letter-spacing: .05em;
  position: absolute;
}


/* header block */
.z {
  width: 150%;
  position: absolute;
  right: 0;
  bottom: -40px;
}
@media (min-width: 768px) {
  .z {
    width: 100%;
    bottom: 0;
  }
}


/* iphone block */
.aa {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .aa {
    padding-bottom: 0;
  }
}


/* code block */
.ab {
  background-color: #262F36;
  overflow: hidden;
}
.ac {
  color: #6EA4CF;
  border: #495158 1px solid;
  background: transparent;
  font-size: 12px;
  padding: 20px;
  line-height: 1.55;
  margin-bottom: 30px;
  border-radius: .3rem;
}
.ac span {
  color: #8496A5;
}
@media (min-width: 768px) {
  .ac {
    width: 520px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .ac {
    padding: 50px;
    font-size: 15px;
  }
}


/* pull quote block */
.ad img {
  width: 100%;
}


/* brand ribbon block */
.ae {
  background: #2595FF;
}
.ae .e {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -30px;
}
.ae img {
  margin: 0 10px 30px;
}


/* marketing grid block */
.af .e {
  margin-bottom: -60px;
}
.ag .ah {
  margin-bottom: 10px !important;
}
@media (max-width: 768px) {
  .ag .ai {
    margin-bottom: 40px !important;
  }
}


/* price plan block */
.aj {
  background-color: #F4F5F6;
}
.aj .e {
  margin-bottom: -60px;
}


/* footer block */
.ak {
  background-color: #262F36;
}
.ak a {
  color: #fff;
}


/* general block overrrides */
@media (max-width: 768px) {
  .k .al {
    line-height: 1.3;
  }
  .k h3 {
    line-height: 1.15;
  }
}


/* general inverse overrides */
.am .an {
  color: rgba(255, 255, 255, .7) !important;
}
.am .ao {
  background-color: transparent;
}


/* general btn overrides */
.ap {
  font-size: 18px;
}
.block-secondary .ap {
  width: 100%;
}
.ap:not(.btn-block) {
  padding: 12px 50px;
}
@media (min-width: 768px) {
  .ap:not(.btn-block) {
    width: auto;
  }
}


/* ie10+ */
@media (min-width: 768px) {
  .aq {
    display: flex;
    align-items: center;
  }
}

.bannerBg{
  padding: 6em 0 2em 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0 !important;
  cursor: default;
  position: relative;
}

.bgColoring::after {
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  pointer-events: none;
  background-color: #242943;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}