<article class="masthead" style="background-image: url('assets/img/road.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <div class="site-heading">
                            <h1 class="h-background">LET'S WALK THE DISTANCE</h1>
                            <span class="subheading h-background"> AND CHAT, CONNECT AND COFFEE OVER IT</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
                <div class="row justify-content-md-center">
                    <div class="row new-io justify-content-md-center">
                        <div class="site-heading site-num">
                            <div class="float-left  so-props  col-lg-3 col-sm-3">
                                <a class="blue" id="twitter"></a>
                            </div>
                            <div class="float-left  so-props  col-lg-3 col-sm-3">
                                <a class="blue" id="facebook"></a>
                            </div>
                            <div class="float-left  so-props  col-lg-3 col-sm-3">
                                <a class="blue" id="google"></a>
                            </div>
                            <div class="float-left  so-props  col-lg-3 col-sm-3">
                                <a class="blue" id="linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>