<article class="masthead sectionHeader-overlay" style="background-image: url('assets/img/sectionThree.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="site-heading site-text-one text-left">
          <p class="section-one-heading">a travels <br />year book</p>
          <span class="subheading col-lg-5 col-md-7 col-sm-10 col-xs-11">
            Read Fodor's reviews to find the best travel destinations, Hotels and restaurants. Plan your trip
            online with Fodor's. India bristles with a minf-stirring mix mix of landscapes and cultural traditions. 
            You journey throught this intoxicating country will blaze in your memory long
            after you've left its shores.
                </span>
        </div>
      </div>
    </div>
  </div>
</article>
<app-section-one></app-section-one>
<app-section-two></app-section-two>