<footer class="py-5 bg-redy">
    <div class="container  pb-5 mb-5">
        <p class="m-0 text-center text-white pb-5">10, 3RD FLOOR, PHOENIX CRESCENT, RESTHOUSE ROAD, BANGALORE 56001 <br/>PHONE : +91-8040986191</p>
    </div>
</footer>
<footer class="bg-redy my-footer">
    <div class="container">
        <p class="text-center text-white">Copyright © Awadhesh Kumar 2019</p>
    </div>
</footer>