<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <img src="assets/img/air-transport.png" class="mx-auto d-block width-new mb-1"> ticket away
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">
                        <img src="assets/img/fish.png" class="mx-auto d-block width-new mb-1"> fishing camp
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="post.html">
                        <img src="assets/img/hot-cup-of-coffee.png" class="mx-auto d-block width-new mb-1"> the aromas
                    </a>
                </li>
                <li class="nav-item nav-item-new">
                    <a class="nav-link" href="contact.html"><img src="../../../assets/img/face.png" class="img-thumbnail mx-auto d-block width-new mt-2 rounded-circle" /></a>
                </li>
            </ul>
        </div>
    </div>
</nav>