<article class="masthead sectionOne-overlay" style="background-image: url('assets/img/sectionTwo.jpg')">
    <div class="overlay"></div>
    <div class="container section-two-padding">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="col-lg-12 col-lg-12 col-lg-12 pt-5 mt-5 pl-0 pr-0 bt-5 pb-5">
                    <img src="assets/img/one.jpg" class="col-smn-4 img-small float-left img-fluid" />
                    <img src="assets/img/two.jpg" class="col-smn-3 img-small img-small-width float-left img-fluid" />
                    <img src="assets/img/three.jpg" class="col-smn-3 img-small img-small-width float-left img-fluid" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="col-lg-12 col-lg-12 col-lg-12 pt-5 mt-5 pl-0 pr-0">
                    <div class="col-lg-6 col-sm-12 col-xs-12  col-md-6 float-left">
                        <div class="row pb-3">
                            <div class="col-md-4 col-xs-4 col-sm-4 col-xs-4 food-width">
                                <div class="circle c1 img-circle">
                                    <span class="blue"><img class="img-fluid width-new pb-2" src="assets/img/soup.png"></span>
                                    <p class="price-large blue">Soups</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4 col-xs-4 food-width">
                                <div class="circle c1 img-circle">
                                    <span class="blue"><img class="img-fluid width-new pb-2" src="assets/img/chicken.png"></span>
                                    <p class="price-large blue">Main Courses</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4 col-xs-4 food-width">
                                <div class="circle c1 img-circle">
                                    <span class="blue"><img class="img-fluid width-new pb-2" src="assets/img/food.png"></span>
                                    <p class="price-large blue">Side Dishes</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-sm-4 col-xs-4 food-width">
                                <div class="circle c1 img-circle">
                                    <span class="blue"><img class="img-fluid width-new pb-2" src="assets/img/salad.png"></span>
                                    <p class="price-large blue">Salads</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4 col-xs-4 food-width">
                                <div class="circle c1 img-circle">
                                    <span class="blue"><img class="img-fluid width-new pb-2" src="assets/img/pie.png"></span>
                                    <p class="price-large blue">Pies</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4 col-xs-4 food-width">
                                <div class="circle c1 img-circle">
                                    <span class="blue"><img class="img-fluid width-new pb-2" src="assets/img/meal.png"></span>
                                    <p class="price-large blue">Desserts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 float-left">
                        <div class="site-headingnew">
                            <h1 class="prop ">
                                LOVE. FOOD.<br/> CHEFS. RECIPES &<br/> THE FISH IN SEA
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>