            .img-fluidd {
                max-width: 91%;
                height: auto;
            }
            
            @media (min-width: 992px) {
                .col-lgn-3 {
                    flex: 0 0 25%;
                    width: 21% !important;
                    padding: 6px;
                }
            }
            
            @media (min-width: 576px) {
                .col-smn-3 {
                    width: 24% !important;
                    padding: 5px;
                }
                .col-smn-4 {
                    width: 35.9% !important;
                    padding-right: 5px !important;
                }
            }
            
            .width-new {
                width: 44px;
            }
            
            .icon-prop {
                width: 65px;
            }
            
            .img-thumbnails {
                padding: .25rem;
                background-color: #ffffff70;
                border: 1px solid #dee2e6;
                border-radius: .25rem;
                max-width: 100%;
                height: auto;
                margin: 10px;
                padding: 16px;
                border-radius: 100%;
            }
            
            .circle {
                background: #ffffff00;
                padding-top: 28px;
                color: #ffffff;
                text-align: center;
                width: 142px;
                border: 8px solid #ffffff00;
                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                border-radius: 100%;
                height: 142px;
            }
            
            .circle-s {
                background: #ffffff;
                padding-top: 28px;
                color: #ffffff;
                text-align: center;
                width: 142px;
                border: 8px solid #ffffff00;
                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                border-radius: 100%;
                height: 142px;
                margin: 12px;
            }
            
            .c1:hover {
                background: #ffffff4d;
                color: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 100%;
                cursor: pointer;
            }
            
            .c1:hover {
                background: #ffffff4d;
                color: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 100%;
                cursor: pointer;
            }
            
            .price-large,
            footer {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
            }
            
            .c1 p {
                margin: 6px 0 !important;
            }
            
            .bg-redy {
                background-color: #8d201e;
            }
            
            footer {
                font-size: 14px;
            }
            
            .my-footer {
                background-color: #721614;
                padding: 1px;
            }
            
            .width-newone {
                width: 95px;
                padding: 10px;
                cursor: pointer;
            }
            
            a#facebook {
                display: block;
                padding: 45px;
                cursor: pointer;
                background: url('assets/img/soLogo/facebook-white.png');
                margin: 0 auto;
                background-repeat: round;
                transition: .3s all;
            }
            
            a#facebook:hover {
                background: url('assets/img/soLogo/facebook.png');
                transform: translateY(-5px);
                transition: .3s all;
                background-repeat: round;
            }
            
            a#google {
                display: block;
                padding: 45px;
                cursor: pointer;
                background: url('assets/img/soLogo/google-white.png');
                margin: 0 auto;
                background-repeat: round;
                transition: .3s all;
            }
            
            a#google:hover {
                background: url('assets/img/soLogo/google.png');
                transform: translateY(-5px);
                transition: .3s all;
                background-repeat: round;
            }
            
            a#linkedin {
                display: block;
                padding: 45px;
                cursor: pointer;
                background: url('assets/img/soLogo/linkdin-white.png');
                margin: 0 auto;
                background-repeat: round;
                transition: .3s all;
            }
            
            a#linkedin:hover {
                background: url('assets/img/soLogo/linkedin.png');
                transform: translateY(-5px);
                transition: .3s all;
                background-repeat: round;
            }
            
            a#twitter {
                display: block;
                padding: 45px;
                cursor: pointer;
                background: url('assets/img/soLogo/twitter-white.png');
                margin: 0 auto;
                background-repeat: round;
                transition: .3s all;
            }
            
            a#twitter:hover {
                background: url('assets/img/soLogo/twitter.png');
                transform: translateY(-5px);
                transition: .3s all;
                background-repeat: round;
            }
            
            @media (max-width: 575.98px) {
                a#twitter {
                    display: block;
                    padding: 27px;
                    cursor: pointer;
                    background: url('assets/img/soLogo/twitter-white.png');
                    margin: 0 auto;
                    background-repeat: round;
                    transition: .3s all;
                }
                a#linkedin {
                    display: block;
                    padding: 27px;
                    cursor: pointer;
                    background: url('assets/img/soLogo/linkdin-white.png');
                    margin: 0 auto;
                    background-repeat: round;
                    transition: .3s all;
                }
                a#google {
                    display: block;
                    padding: 27px;
                    cursor: pointer;
                    background: url('assets/img/soLogo/google-white.png');
                    margin: 0 auto;
                    background-repeat: round;
                    transition: .3s all;
                }
                a#facebook {
                    display: block;
                    padding: 27px;
                    cursor: pointer;
                    background: url('assets/img/soLogo/facebook-white.png');
                    margin: 0 auto;
                    background-repeat: round;
                    transition: .3s all;
                }
            }
            
            .site-num {
                padding-top: 43px !important;
                padding-bottom: 50% !important;
            }